@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  --gradient1: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --gradient2: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  min-height: 100vh;
  background-image: url("images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
}
.logo {
  margin-top: 4.06rem;
  margin-bottom: 8.51rem;
}
main {
  display: flex;
  justify-content: space-between;
}
.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10.31rem;
}
h1 {
  color: var(--Desaturated-Red);
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: 1.08256rem;
  max-width: 27.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
h1 span {
  color: var(--Dark-Grayish-Red);
  font-weight: 600;
  line-height: 4.4375rem;
}
.text-content p {
  color: var(--Desaturated-Red);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  max-width: 27.75rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
input {
  width: 26rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  border: 1px solid var(--Desaturated-Red);
  font-size: 1rem;
  color: var(--Dark-Grayish-Red);
  opacity: 0.5;
  padding-left: 2rem;
}
input::placeholder {
  color: var(--Desaturated-Red);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  opacity: 0.5;
  padding-left: 0;
}
button {
  width: 6.25rem;
  height: 3.7rem;
  border-radius: 1.75rem;
  border-style: none;
  cursor: pointer;
  background: var(--gradient1);
  box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
  position: absolute;
  top: 0;
  right: 0;
}
button:hover {
  box-shadow: 0px 15px 20px 0px rgba(198, 110, 110, 0.25);
  opacity: 0.5;
}
button:active {
  transform: translate(-1%, 1px);
}
#emailForm {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
#errorIcon {
  display: none;
  position: absolute;
  bottom: 35%;
  left: 68%;
}
#errorMessage {
  display: none;
  position: relative;
  color: var(--Soft-Red);
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
  align-self: flex-start;
  padding-left: 2rem;
}

@media screen and (max-width: 768px) {
  .logo {
    display: none;
  }
  .image-section {
    position: relative;
    margin-top: 5.25rem;
  }
  .image-section::before {
    content: url("images/logo.svg");
    position: absolute;
    top: -60px;
    margin-left: 2rem;
  }
  main {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-mobile {
    margin-bottom: 4rem;
  }
  .text-content {
    background-image: none;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 2.625rem;
    letter-spacing: 0.67656rem;
    max-width: 19.4375rem;
    margin-bottom: 1rem;
  }
  h1 span {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.625rem;
    letter-spacing: 0.67656rem;
  }
  .text-content p {
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.375rem;
    max-width: 19.4375rem;
    margin-bottom: 2rem;
  }
  #emailForm {
    margin-bottom: 5.75rem;
  }
  #errorMessage {
    margin-top: 0.5rem;
    padding-left: 1.7rem;
    line-height: normal;
  }
  #errorIcon {
    bottom: 38%;
    left: 68%;
  }
  input {
    width: 19.4375rem;
    height: 3rem;
  }
  input::placeholder {
    font-size: 0.875rem;
  }
  button {
    width: 4rem;
    height: 3.2rem;
  }
}
